@model List<AdViewModel>

<div class="modal-header">
    <h1 class="modal-title fs-5">Detay</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<table class="table table-hover table-sm">
    <thead>
        <tr>
            <th></th>
            <th>Şehir</th>
            <th>İlçe</th>
            <th>Adres</th>
            <th>Fiyat</th>
            <th>Alan</th>
            <th>Kiralama Süresi</th>
            <th>Kat</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td></td>
            <td>@Model[0].Province</td>
            <td>@Model[0].District</td>
            <td>@Model[0].AddressDetails</td>
            <td>@Model[1].Price</td>
            <td>@Model[1].Size</td>
            <td>@Model[1].Monthly</td>
            <td>@Model[1].Floor</td>
            <td class="text-end">
            </td>
        </tr>

        @if (Model[1].GardenCheck == "Yes")
        {
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th>Bahçe Büyüklüğü</th>
                <th>Özellikler</th>
                <th>Havuz Büyüklüğü m2</th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <td>@Model[1].GardenSize</td>
                <td>@Model[1].GardenProperties</td>
                <td>@Model[1].PoolSize</td>
                <th></th>
                <th></th>
            </tr>
        }
    </tbody>
</table>
